
<div class="view-area" style="min-height: 60vh!important; min-width: 33vw!important;">
    <div id="mymap" class="leaflet-container">

    </div>
</div>
<script type="text/javascript">
    createMap("mymap", "{{ data.image_link }}")
</script>